<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MerlinFourSquare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAFDEB3C219BF9D2005DA89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAFDEB50219BF9D3005DA89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAFDEB5B219BF9D3005DA89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
